{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
        {% include "header.html.twig" %}
        {% include "_layout_left.html.twig" %}
        <div class="main_div">
            {% if app.user %}
            {% endif %}
            {% for mypost in myposts %}  
                <div class="posts" id="{{ mypost.id }}">
                    <img src="{{ image_post ~ mypost.image }}" alt="image du post" class="user-img-40">
                    <p>{{ mypost.content }}</p>
                    <p>{{ mypost.id }}</p>
                </div>
            {% endfor %}
        </div> 
    {% include "_layout_right.html.twig" %}
{% endblock %}
