@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";

header {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
}
a {
    text-decoration: none;
    color: #591f8d;
}
.bigmain {
    display: flex;
    padding-bottom: 5%;
}
.lposts {
    border: solid 1px #333A40;
    margin-bottom: 5%;
    background-color: white;
    border-radius: 25px;
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.lposts:hover {
    -webkit-transform:scale(1.05); /* Safari et Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* Internet Explorer 9 */
    -o-transform:scale(1.05); /* Opera */
    transform:scale(1.05);
}
.autoplay{
    z-index: -2;
    position: fixed;
    width: 100%;
    height: auto;
    left: 0px;
    right: 0px;
    top: 0;
}
.adminposttodelete {
    display: none;
}
.adminuser {
    display:none;
}
body {
    background-image: url(https://ahp.li/6e7e67f216648703ba57.mp4);
    background-attachment: local, scroll;
    margin: 0;
    padding-top:50px;
    font-family: 'Roboto';
}


.zoom {
    width: 320px;
    height: 240px;
}
.image {
    width: 100%;
    height: 100%;
}

.imageposts { 
    height: 150px;
    width: 250px;
    border-radius: 25px;
    margin: 5% 5%;
}


.user-img-40 {
    height: 200px;
    width: 60%;
    border-radius: 25px;
    margin: 5% 5%;
}
.post_contenu {
    display: flex;
}

.menu_main {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    padding-top: 10px;
    margin: 0 10% 5%;
    background-color: white;
    box-shadow: 12px 12px 2px 1px rgba(59, 59, 61, 0.2);
    border-radius: 25px;
    width: 90%;
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}
.menu_link {
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}
.menu_link:hover {
    -webkit-transform:scale(1.05); /* Safari et Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* Internet Explorer 9 */
    -o-transform:scale(1.05); /* Opera */
    transform:scale(1.05);
}

.layout_right {
    position: absolute;
    width: 29%;
    right: 20px;
    text-align: center;
    border-radius: 25px;
}
.divimage {
    margin: 0px 50px 50px;
}
.divtexte {
    display: grid;
    width: 175px;
}
button {
    background-color: #1d9bf0;
    color: white;
    margin-bottom: 5%;
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}
button:hover {
    background-color: #176ba3;
}

.title_text_right {
    background-color: rgb(32, 189, 32);
    color: white;
    border-radius: 25px;
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}
.title_text_right:hover {
    background-color: rgb(25, 121, 25);
}

.text_right {
    right: 0;
    text-align: center;
    padding-bottom: 5%;
}
.main_div{
    width: 38%;
    margin-left: 30%;
    text-align: center;
    z-index: 1;
}
// Class pour gestion de la modal 
.image_modal {
    padding-left: 15%;
    width: 90%;
    padding-bottom: 5%;
}
.modal-title {
    margin-left: 18%;
}
//
.formpost {
    border-radius: 25px;
    background-color: white;
    margin: 0% 10%;
    margin-bottom: 5%;
    box-shadow: 12px 12px 2px 1px rgba(59, 59, 61, 0.2);
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}
.formpost:hover {
    -webkit-transform:scale(1.05); /* Safari et Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* Internet Explorer 9 */
    -o-transform:scale(1.05); /* Opera */
    transform:scale(1.05s);
}
.posts {
    background-color: white;
    box-shadow: 12px 12px 2px 1px rgba(59, 59, 61, 0.2);
    margin: 0% 8% 5%;
    border-radius: 25px;
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}
.posts:hover{
    -webkit-transform:scale(1.05); /* Safari et Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* Internet Explorer 9 */
    -o-transform:scale(1.05); /* Opera */
    transform:scale(1.05s);
    
}
.alert_validator {
    width: 50%;
    margin-left: 25%;
    border-radius: 25px;
}
.profil_layout_left {
    background: rgb(180,92,58);
    background: linear-gradient(90deg, rgba(180,92,58,1) 9%, rgba(253,76,29,1) 61%, rgba(252,176,69,1) 100%);
    color:white;
    border-radius: 25px;
}
.profil_layout_left:hover {
    background-color: #9c4f49;
}

.layout_left{
    position: absolute;
    width: 27%;
    background-color: white;
    left: 20px;
    text-align: center;
    z-index: 1;
    box-shadow: 12px 12px 2px 1px rgba(59, 59, 61, 0.2);
    border-radius: 25px;
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.layout_left:hover {
    -webkit-transform:scale(1.05); /* Safari et Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* Internet Explorer 9 */
    -o-transform:scale(1.05); /* Opera */
    transform:scale(1.05s);
}
.text_left {
    text-align: center;
    padding-bottom: 5%;
}
.texttocenter {
    text-align: center;
    padding-bottom: 5%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(56, 54, 90) 0%, rgb(9, 27, 121) 33%, rgb(20, 0, 255) 100%);
    border-radius: 20px;
    color: white;
}
.texttocenter:hover {
    background-color: #21295E;
}

.espace_commentaire {
    margin: 0% 8% 5%;
    border-radius: 25px
}
.commentaire {
    padding-left: 20%;
}
.comment_user {
    border-radius: 25px;
    background-color: white;
    box-shadow: 12px 12px 2px 1px rgba(59, 59, 61, 0.2);
    margin: 3%;
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
  }
  .comment_user:hover {
    -webkit-transform:scale(1.05); /* Safari et Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* Internet Explorer 9 */
    -o-transform:scale(1.05); /* Opera */
    transform:scale(1.05s);
    border: 5px black solid;
  }
  .link_post {
    background-color: #21295E;
    border-radius: 25px;
    color:white;
    padding: 10%;
  }
  .link_post:hover {
    background-color: #3146CE;
    color: black;
  }
  .text {
    padding-bottom: 30px;
  }
  .linktopost {
    padding-bottom: 17px;
  }
  .text_center_posts {
    text-align: center;
    padding-bottom: 5%;
    background: rgb(123,119,196);
    background: linear-gradient(90deg, rgba(123,119,196,1) 0%, rgba(206,19,240,1) 12%, rgba(212,51,175,1) 100%); 
    border-radius: 20px;
    color: white;
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    }
.text_center_posts:hover {
    background-color: #A6328A;
}

// Profil page CSS
.profil_page {
    width: 70%;
    text-align: center;
    z-index: 1;
    margin-left: 0%;
}
.profil_img {
    height: 300px;
    width: 300px;
}
.profil_img_div {
    width: 60%;
}
.profil_text {
    width: 100%;
}
.profil_info {
    padding-top: 5%;
}
.night {
    padding-right: 5%;
    padding-top: 1%;
}
.nightmain {
    color: white;
}
.nightmode {
    background: #16181c;
}
//menu deroulant
  #menu-accordeon {
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;
    width: 180px;
  }
 
  #menu-accordeon ul {
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;
  }
  #menu-accordeon li {
     border-radius: 6px;
     margin-bottom:2px;
  }
  #menu-accordeon li li {
     max-height:0;
     overflow: hidden;
     transition: all .5s;
     border-radius:0;
     background: white;
     box-shadow: none;
     border:none;
     margin:0
  }
  #menu-accordeon a {
    display:block;
    text-decoration: none;
    padding: 8px 0;
    font-family: verdana;
    font-size:1.2em
  }
  #menu-accordeon ul li a, #menu-accordeon li:hover li a {
    font-size:1em;
    border:solid 1px #333A40;
  }
  #menu-accordeon li:hover {
     background: #729EBF;
     border:solid 1px #333A40;
     
  }
  #menu-accordeon li li:hover {
     background: #999;
     border:solid 1px #333A40;
  }
  #menu-accordeon ul li:last-child {
     border-radius: 0 0 6px 6px;
     border:none;
  }
  #menu-accordeon li:hover li {
    max-height: 15em;
  }