@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";

header {
    position: sticky;
    top: 5%;
}

body {
    background-color: lightgrey;
    margin: 0;
    padding-top:50px;
}

.user-img-40 {
    height: 200px;
    width: 60%;
    border-radius: 25px;
    margin: 5% 5%;
}

.menu_main {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-bottom: 5%;
    margin: 0 18% 5%;
    background-color: white;
    box-shadow: 12px 12px 2px 1px rgba(59, 59, 61, 0.2);
    border-radius: 25px;
}

.layout_right {
    position: absolute;
    width: 29%;
    margin-left: 34%;
    background-color: white;
    right: 20px;
    text-align: center;
    box-shadow: 12px 12px 2px 1px rgba(59, 59, 61, 0.2);
    border-radius: 25px;
}

.text_right {
    right: 0;
    text-align: center;
    padding-bottom: 5%;
}
.main_div{
    position: absolute;
    width: 38%;
    margin-left: 30%;
    text-align: center;
    z-index: 1;
}
.formpost {
    border-radius: 25px;
    background-color: grey;
    margin: 0% 10%;
    padding: 0;
    box-shadow: 12px 12px 2px 1px rgba(59, 59, 61, 0.2)
}
.posts {
    background-color: white;
    box-shadow: 12px 12px 2px 1px rgba(59, 59, 61, 0.2);
    margin: 10% 4%;
    border-radius: 25px;
}
.layout_left{
    position: absolute;
    width: 27%;
    background-color: white;
    left: 20px;
    text-align: center;
    z-index: 1;
    box-shadow: 12px 12px 2px 1px rgba(59, 59, 61, 0.2);
    border-radius: 25px;
}
.text_left {
    text-align: center;
    padding-bottom: 5%;
}
.text-center {
    text-align: center;
    padding-bottom: 5%;
    background-color: blue;
    border-radius: 20px;
}
