<!DOCTYPE html>
<html data-layout-mode="dark">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/306/306207.png">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('header') }}
        {% endblock %}
    </head>
    <body>
        <video  class="autoplay" autoplay muted loop id="myVideo">
            <source src="{{fond_ecran ~ "video_ecran.webm"}}" type="video/mp4">
        </video>
        {% block body %}
        {% endblock %}
    </body>
</html>
